.devicewise-test-container {
  padding: 80px 0px;
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 40px 0px;
}

table {
  width: 100%;
}

.form-field-fullwidth {
  width: 100%;
}

.custom-header {
  margin-bottom: 0px;
}

.custom-sub-header {
  margin-top: 0px;
}

.custom-body {
  font-size: 16px;
  line-height: 28px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container>* {
  margin: 0px 10px 10px 0px;
}

.normal-card {}

.footer {
  background: #00253f;
  padding: 70px 35px;
  box-sizing: border-box;
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer a {
  color:white;
}

.highlights {
  margin: 15px 0;
}
