
  <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="true" [fixedTopGap]="64" [fixedBottomGap]="0">

    <mat-nav-list>
      <a mat-list-item pageScroll href="#home">
        <h4 mat-line>Home</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">security</i>Authentication</h2>
      <a mat-list-item pageScroll href="#login">
        <h4 mat-line>Login</h4>
      </a>
      <a mat-list-item pageScroll href="#logout">
        <h4 mat-line>Logout</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">compare_arrows</i>Variable</h2>
      <a mat-list-item pageScroll href="#read">
        <h4 mat-line>Read</h4>
      </a>
      <a mat-list-item pageScroll href="#write">
        <h4 mat-line>Write</h4>
      </a>
      <a mat-list-item pageScroll href="#subscribe">
        <h4 mat-line>Subscribe</h4>
      </a>
      <a mat-list-item pageScroll href="#unsubscribe">
        <h4 mat-line>Unsubscribe</h4>
      </a>
      <a mat-list-item pageScroll href="#unsubscribeAll">
        <h4 mat-line>Unsubscribe All</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">router</i>Device</h2>
      <a mat-list-item pageScroll href="#deviceList">
        <h4 mat-line>Device List</h4>
      </a>
      <a mat-list-item pageScroll href="#deviceInfo">
        <h4 mat-line>Device Info</h4>
      </a>
      <a mat-list-item pageScroll href="#deviceDataType">
        <h4 mat-line>Device Data Type</h4>
      </a>
      <a mat-list-item pageScroll href="#deviceStart">
        <h4 mat-line>Device Start</h4>
      </a>
      <a mat-list-item pageScroll href="#deviceStop">
        <h4 mat-line>Device Stop</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">device_hub</i>Trigger</h2>
      <a mat-list-item pageScroll href="#triggerList">
        <h4 mat-line>Trigger List</h4>
      </a>
      <a mat-list-item pageScroll href="#triggerStart">
        <h4 mat-line>Trigger Start</h4>
      </a>
      <a mat-list-item pageScroll href="#triggerStop">
        <h4 mat-line>Trigger Stop</h4>
      </a>
      <a mat-list-item pageScroll href="#triggerFire">
        <h4 mat-line>Trigger Fire</h4>
      </a>
      <a mat-list-item pageScroll href="#subTriggerFire">
        <h4 mat-line>SubTrigger Fire</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">folder</i>Project</h2>
      <a mat-list-item pageScroll href="#projectList">
        <h4 mat-line>Project List</h4>
      </a>
      <a mat-list-item pageScroll href="#projectStart">
        <h4 mat-line>Project Start</h4>
      </a>
      <a mat-list-item pageScroll href="#projectStop">
        <h4 mat-line>Project Stop</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">live_tv</i>Channel</h2>
      <a mat-list-item pageScroll href="#channelSubscribe">
        <h4 mat-line>Channel Subscribe</h4>
      </a>
      <a mat-list-item pageScroll href="#channelUnsubscribe">
        <h4 mat-line>Channel Unsubscribe</h4>
      </a>
      <a mat-list-item pageScroll href="#channelUnsubscribeAll">
        <h4 mat-line>Channel Unsubscribe All</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">settings_input_component</i>Diagnostics</h2>
      <a mat-list-item pageScroll href="#ping">
        <h4 mat-line>Ping</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">developer_board</i>System</h2>
      <a mat-list-item pageScroll href="#referenceList">
        <h4 mat-line>Reference List</h4>
      </a>

      <mat-divider></mat-divider>
      <h2 class="mat-title"><i class="material-icons">storage</i>SQLite</h2>
      <a pageScroll mat-list-item href="#sql-query">
        <h4 mat-line>SQL Query</h4>
      </a>
    </mat-nav-list>

  </mat-sidenav>
